
/*--------configuração do todo da pagina--------*/

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--------fim da configuração do todo da pagina--------*/


/*--------dimensões do logo e icone de mobile--------*/
.logo-img{
    width: 100%;
}
.logo{
    width: 40%;
}

.bnt-menu{
    font-size: 2rem;
    background-color: transparent;
    margin-right: 1.5rem;
}
/*--------fim das dimensões de logo e icone de menu--------*/


/*--------menu mobile aberto--------*/
.menu-lateral{
    position: fixed;
    background-color: rgb(136, 136, 136);
    height: 100vh;
    width: 35vw;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
}

/* .bnt-fechar-menu{
    seta sem aparecer
} */

.bnt-links-menu{
    background-color: transparent;
    border-bottom: 1px solid;
    margin-top: 1rem;
}