header{
    display: flex;
    justify-content: space-between;
}
.link_logo{
    width: 30%;
    height: 20%;
}
.logo{
    width: 100%;
}
.nav_menu{
   margin: auto 1rem auto;
}
.hamb_menu{
    font-size: 30px;
    background-color: transparent;
}
.hamb_menu:hover{
    cursor: pointer;
}