
/*--------configuração do todo da pagina--------*/

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--------fim da configuração do todo da pagina--------*/


/*--------dimensões do logo e icone de mobile--------*/
.logo-img{
    width: 100%;
}
.logo{
    width: 40%;
}

.bnt-menu{
    font-size: 2rem;
    background-color: transparent;
    margin-right: 1.5rem;
}
/*--------fim das dimensões de logo e icone de menu--------*/


/*--------menu mobile aberto--------*/
.menu-lateral-fechado{
    display: none;
}

.menu-lateral-aberto{
    position: fixed;
    background-color: rgba(141, 141, 141, 0.705);
    height: 100vh;
    width: 35vw;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
    animation-name: abrir-menu-mobile;
    animation-duration: 1s;
}

.bnt-fechar-menu{
    background: transparent;
}

.bnt-links-menu{
    background-color: transparent;
    border-bottom: 1px solid;
    margin-top: 1rem;
}
/*--------fim do menu mobile aberto--------*/


/*--------classes para manipulação de elementos com js-------*/

.remove-icone-hamburguer{
    display: none;
}

.abrir-menu-mobile{
    display: flex;
    
}
.fechar-menu-mobile{
    animation-name: fechar-menu-mobile;
    animation-duration: 1.1s;
}

@keyframes abrir-menu-mobile{
        from {
          right: -50vw;
        }
        to {
          right: 0;
        }
      }
@keyframes fechar-menu-mobile{
        from {
          right: 0;
        }
        to {
          right: -50vw;
        }
      }


/*--------fim de classes para manipulação de elementos com js--------*/