*{
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: Staatliches;
}
body{
    background-image: url(../img/background\ 1.jpg);
}
a:link, a:visited { 
    color: black;
}
ul{
    list-style: none;
}

