*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-image: url(../css/img/papelamassado.jpg);
    background-size: 100%;
}